# Data Science Tools and Ecosystem

This is the final test for Course 2: Tools of a Data Scientist by Maurice Althaus

Common Data Scienctist Languages include: 
- Python
- R
- SQL
- Java

Common Libriaries include: 
1. Numpy
2. Pandas
3. Spacy
4. NLTK
5. Mathplot

|Common Tools | 
:-----:|
R Studio   |
Jupyter Lab|
Jupyter Notebook|
IBM Watson Studio|

### Here are some basic examples

In [3]:

print("result = " + str(3*4 + 5))

result = 17

In [4]:
hours = 1
minutes = (1/60)*hours


print(str(200*minutes) +" hours")

3.3333333333333335 hours

**Objectives** <br>
- Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
- Exercise 3 - Create a markdown cell for an introduction. (1 pt)
- Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
- Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
- Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

## Author

Maurice Althaus