# Test_IBM_Althaus

This is the final test for Course 2: Tools of a Data Scientist by Maurice Althaus

**Languages**

Common Data Scienctist Languages include: Python, R, SQL, Java, etc.

**Libriaries**

Common Libriaries include: Numpy, Pandas, Spacy, NLTK, Mathplot, etc.

**Tools**

Common Tools include: R Studio, Jupyter Lab, Jupyter Notebook, IBM Watson Studio

**Math**

In [10]:
#Basic
i=2
k=3  
print("First result = " + str(i+k))

#Multiplication
print("\n" +"Second result = " + str(i*k))

First result = 5

Second result = 6

**Minute to Hour Converter:**

In [11]:
hours = 1
minutes = (1/60)*hours


print(str(2*hours + 234*minutes) +" hours")

5.9 hours

**Goals**

Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

Exercise 12 - Share your notebook through GitHub (3 pts)

Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

*This Notebook was made by Maurice Althaus*